* {
    box-sizing: border-box;
}

html {
    font-family: cursive;
    border: 3px solid black;
    padding: 20px;
    color: black;
}

.section-container1,
.section-container2,
.section-container3 {
    position: relative;
    background-color: rgb(193, 184, 184);
    border: 1px solid black;
    margin-bottom: 30px;
    font-weight: 500;
}

.section-title1 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: aqua;
    padding: 10px;
    margin: 0;
    border: 1px solid black;
    width: 20%;
    text-align: center;
    font-variant: small-caps;
}

.section-title2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: aquamarine;
    padding: 10px;
    margin: 0;
    border: 1px solid black;
    width: 20%;
    text-align: center;
    font-variant: small-caps;
}

.section-title3 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFDAB9;
    padding: 10px;
    margin: 0;
    border: 1px solid black;
    width: 20%;
    text-align: center;
    font-variant: small-caps;
}

.section-sentence1,
.section-sentence2,
.section-sentence3 {
    padding: 25px;
    width: 90%;
}

h1 {
    font-size: 175%;
    text-align: center;
    text-decoration: underline;
    font-variant: small-caps;
}

@media (min-width: 992px) {

    .section-container1,
    .section-container2,
    .section-container3 {
        width: 30%;
        float: right;
        height: 850px;
        margin: 20px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    div {
        float: right;
    }

    .section-container1,
    .section-container2 {
        width: 48%;
        height: 500px;
        margin-right: 15px;
    }

    .section-container3 {
        width: 98%;
    }
}

@media (max-width: 767px) {

    .section-container1,
    .section-container2,
    .section-container3 {
        width: 100%;
        float: left;
    }
}